attrs==19.3.0
certifi==2022.12.7
cffi==1.14.0
cfgrib==0.9.8.2
cftime==1.0.4.2
click==7.1.2
eccodes==0.9.7

progressbar2==3.47.0
pycparser==2.20
pyeccodes==0.1.1
python-dateutil==2.8.1
python-utils==2.3.0
pytz==2019.3
six==1.13.0


